html{background-color: black;}
body{background-color: black;}

/******************/
/*CAROUSEL INICIAL*/
/******************/

#carouselPrincipal .item img{
    min-height:350px;
    width: 100%;
}

.opaco {
     position:absolute;
     top:0px;
     left:0px;
     width:160px;
     height:225px;
     background-color: black;
     opacity: 0.5;
     border:2px solid red;
 }

.opacoLarge{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: black;
    opacity: 0.5;
    border:2px solid red;
}

.thumbwrap{
    margin-bottom: 3%;
}
.thumbwrap img{
    border:1px solid red;
}

.imageFilm img{
    border:1px solid red;
}
.ratingFilm {
    position:absolute;
    z-index:1;
    margin-left:5%;
}


.titleFilm p{
    color: white;
    text-align: center;
}

.carousel-indicators li{
    border-color: red;
    background-color: black;
}

.carousel-control {
    padding-top:10%;
    width:5%;
}

h3, h1, h2{
    color:white;
    font-family: 'Kreon', serif;
}

p{
    font-family: 'Kreon', serif;
    color: darkgrey;
}


/********************/
/*CAROUSEL CARTELERA*/
/*******************/

.lists{
    padding-top:3%;
}

.carousel-showsixmoveone .carousel-control {
    width: 4%;
    background-image: none;
}
.carousel-showsixmoveone .carousel-control.left {
    margin-left: 15px;
}
.carousel-showsixmoveone .carousel-control.right {
    margin-right: 15px;
}
.carousel-showsixmoveone .cloneditem-1,
.carousel-showsixmoveone .cloneditem-2,
.carousel-showsixmoveone .cloneditem-3,
.carousel-showsixmoveone .cloneditem-4,
.carousel-showsixmoveone .cloneditem-5 {
    display: none;
}
@media all and (min-width: 768px) {
    .carousel-showsixmoveone .carousel-inner > .active.left,
    .carousel-showsixmoveone .carousel-inner > .prev {
        left: -33.333%;
    }
    .carousel-showsixmoveone .carousel-inner > .active.right,
    .carousel-showsixmoveone .carousel-inner > .next {
        left: 33.333%;
    }
    .carousel-showsixmoveone .carousel-inner > .left,
    .carousel-showsixmoveone .carousel-inner > .prev.right,
    .carousel-showsixmoveone .carousel-inner > .active {
        left: 0;
    }
    .carousel-showsixmoveone .carousel-inner .cloneditem-1,
    .carousel-showsixmoveone .carousel-inner .cloneditem-2 {
        display: block;
    }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-showsixmoveone .carousel-inner > .item.active.right,
    .carousel-showsixmoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(33.333%, 0, 0);
        transform: translate3d(33.333%, 0, 0);
        left: 0;
    }
    .carousel-showsixmoveone .carousel-inner > .item.active.left,
    .carousel-showsixmoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-33.333%, 0, 0);
        transform: translate3d(-33.333%, 0, 0);
        left: 0;
    }
    .carousel-showsixmoveone .carousel-inner > .item.left,
    .carousel-showsixmoveone .carousel-inner > .item.prev.right,
    .carousel-showsixmoveone .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}
@media all and (min-width: 992px) {
    .carousel-showsixmoveone .carousel-inner > .active.left,
    .carousel-showsixmoveone .carousel-inner > .prev {
        left: -16.666%;
    }
    .carousel-showsixmoveone .carousel-inner > .active.right,
    .carousel-showsixmoveone .carousel-inner > .next {
        left: 16.666%;
    }
    .carousel-showsixmoveone .carousel-inner > .left,
    .carousel-showsixmoveone .carousel-inner > .prev.right,
    .carousel-showsixmoveone .carousel-inner > .active {
        left: 0;
    }
    .carousel-showsixmoveone .carousel-inner .cloneditem-3,
    .carousel-showsixmoveone .carousel-inner .cloneditem-4,
    .carousel-showsixmoveone .carousel-inner .cloneditem-5 {
        display: block;
    }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-showsixmoveone .carousel-inner > .item.active.right,
    .carousel-showsixmoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(16.666%, 0, 0);
        transform: translate3d(16.666%, 0, 0);
        left: 0;
    }
    .carousel-showsixmoveone .carousel-inner > .item.active.left,
    .carousel-showsixmoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-16.666%, 0, 0);
        transform: translate3d(-16.666%, 0, 0);
        left: 0;
    }
    .carousel-showsixmoveone .carousel-inner > .item.left,
    .carousel-showsixmoveone .carousel-inner > .item.prev.right,
    .carousel-showsixmoveone .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}

@media only screen and (min-width: 768px) {
    .logo {
        margin: 28px;
        float: left;
    }
}


.carousel-inner>.item>a>#imgShort, .carousel-inner>.item>#imgShort, .img-responsive, .thumbnail a>img, .thumbnail>img   {
    height: 225px;
    width: 100%;
    max-width: 160px;
}

/*********/
/*TÃTULOS*/
/*********/


.title h2{
    font-weight: bold ;
    color: white;
    margin-left: 10px;
}


/********/
/*NAVBAR*/
/********/

.navbar-default .navbar-brand, .navbar-default .navbar-brand{
    color: red;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a{
    color:red;
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color:white;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color:whitesmoke;
}

.navbar{
    background: rgba(255, 255, 255, 0);
}


nav.navbar.scroll{
    background: rgba(0, 0, 0, 0.7);
}


.navbar-default{
    border: none;
}

.navbar-form .input-group>.form-control{
    background-color: transparent;
}

.input button{
    background-color: red;
}

.form-group{
    margin-left: 10px;
    margin-top: 10px;
}

#listOptions{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#listOptions li {
    float: left;
}

#listOptions li button {
    margin-top:28%;
}


/***INFO FILM*****/

/* Dropdown Button */
.dropbtn {
    margin-left: 10px;
    background-color: red;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: indianred;
}

.ratingFilmInfo{
    max-width: 200px;
    position:absolute;
    z-index:1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the filmLibrary.model.User clicks on the dropdown button) */
.show {display:block;}


.title-info{
    margin-top:5%;
}

.titleRight li, .titleLeft li{
    list-style: none;
    display: inline;
}

.titleRight li h2 {
    display: inline;
}

.titleRight{
    margin-left: 3%;
    float:left;
}

.titleLeft{
    margin-right: 5%;
    float:right;
}

.titlefilm{
    float:left;
}

.glyphyInfo{
    color: red;
    font-size: 20px;
}


.editButtonInfo, .deleteButtonInfo{
    background-color: black;
    border: none;
}

.filmImageData{
    overflow: auto;
    width: 90%;
    margin-left: 5%;
}

.imageFilm{
    height: 250px;
    width: 200px;
    float:left;
}

.filmData{
    padding-left: 10%;
    float:left;
    width: 75%;
}

.yearRating{
    clear:both;
    padding-top: 10%;
}

.filmImage{
    float:left;
    margin-top: 3%;
    margin-left: 2.5%;
}


.thumb {
    float:left; /* must be floated for same cross browser position of larger image */
    position:relative;
}

.emergentInfo{
    background-color: whitesmoke;

}
.thumb span {
    position:absolute;
    visibility:hidden;
}
.thumb:hover span {
    visibility:visible;
    top:37px; left:37px;
}

#allFilms {
    margin-top: 6%;
}

.rating {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.rating li {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}
.rating li.filled {
    color: #fd0;
}
.rating.readonly li.filled {
    color: #666;
}
.close {
    color: red;
    opacity: 1;
}

iframe{
    width: 100%;
    height:90%;
    align:center;
}

.profile{
    height: 200px;
    width: 300px ;
    border-radius: 25px;
    border: 2px solid red;
    margin-left: 35%;
    margin-top: 10%;
}

.profileImage{
    float:left;
    margin-left: 10%;
    margin-top:5%;
}

.profileImage img{
    height:100px;
    width: 100px;
}

.profileData{
    float:left;
    margin-left: 10%;
}